argparse~=1.4.0
collections
yaml
joblib~=1.0.1
pandas~=1.1.5
sklearn~=0.0
glob
prettytable~=2.1.0
termcolor
numpy~=1.19.5
scipy~=1.5.4
scikit-learn~=0.24.2
setuptools~=56.1.0
numpy
pytest~=6.2.4
PyYAML~=5.4.1